.pageContainer {
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
}

section.section-generic {
    display: flex;
    width: 100%;
    
padding: 10px;
    margin-bottom: 10px;
    
    
}
.section-generic>div {
    /* background-color: black; */
    min-height: 400px;
    width: 100%;
    margin: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.section-generic>.accent {
    background-color: rgba(1,1,1,0.03);
    border-radius: 10px;
    padding: 10px;
}

footer {
    /* backg */
}

.header {
    display: flex;
    /* max-height: 30px; */
}
.header>div {
    width: 100%;
}

.largeStat {
    font-size: 40px;
    color: green;
    text-align: center;
    font-weight: 600;
}